@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v20/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_k-UXtHA_A.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v20/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v20/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDXbtY.ttf) format('truetype');
}
html {
  background: #FFFFFF;
  color: #FFF;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
}
.border-button {
  padding: 1em 1.75em;
  margin: 0.25em;
  background: none;
  display: inline-block;
  color: #000000;
  cursor: pointer;
  font-size: 21px;
  line-height: 1.6;
  text-decoration: none;
}
html {
  height: 100%;
  display: -webkit-box;
  display: flex;
}
body {
  margin: auto;
  width: 100%;
  text-align: center;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.border-button {
  margin: 0.5em;
  /* Increased margin since the outline expands outside the element */
  outline: solid 0px #2E1503;

  /*-webkit-transition: outline 0.6s linear;*/
  /*transition: outline 0.6s linear;*/
  transition: .3s ease;
}
.border-button:hover {
  outline-width: 10px;
  /*box-shadow: 0 0 0 1px #000000;*/
  transition: .3s ease;
}
